/* Base styles for larger screens */
landing {
    display: flex;
    padding: 60px 180px;
    margin-top: -200px;
    background: #EE7D00;
    color: aliceblue;
    height: 100%;
}

landing .WordContent {
    width: 50%;
}

.WordContent .LandTitle {
    font-size: 55px;
    font-weight: bolder;
    margin-top: 200px;
    word-wrap: break-word;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
}

.WordContent .LandP {
    font-size: 1.3rem;
    font-weight: 200;
    width: 100%;
    margin-top: 20px;
    font-family: 'Helvetica Neue';
}

.WordContent #landButton {
    margin-top: 40px;
    height: 45px;
    border-radius: 5px;
    border: 3px solid white;
    background: #EE7D00;
}

.WordContent #landButton .landButton {
    padding: 20px;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ImageContent img {
    width: 80%;
    margin-left: 50px;
    margin-top: 200px;
}

/* Media query for screens with a max-width of 768px (typical mobile devices) */
@media screen and (max-width: 768px) {
    landing {
        flex-direction: column;
        padding: 40px 20px;
        margin-top: -100px;
    }

    landing .WordContent {
        width: 100%;
    }

    .ImageContent img {
        margin-left: 0;
        margin-top: 40px;
        width: 100%;
    }

}
