landing{
display: flex;
padding: 20px 100px;
margin-top: -200px;
background:#EE7D00 ;
/* margin: 0; */
color: aliceblue;
height: 100%;
}
landing .leftContent{
    width: 50%;
   
}

.leftContent .LandTitle{
    font-size:55px ;
    /* width: 100%; */
    font-weight: bolder ;
    margin-top: 200px;
    word-wrap: break-word;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
    

    
}

.leftContent .LandP{
    font-size:1.3rem ;
    font-weight: 200px;
    width: 100%;
    margin-top: 20px;
    font-family: 'Helvetica Neue';
    

}

.leftContent #landButton{
    margin-top: 40px;
    height: 45px;
    border-radius: 5px;
    border: 3px solid white;
    background: #EE7D00;
   
   
}
.leftContent #landButton .landButton{
    padding: 20px;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.RightContent img{
    width: 80%;
    margin-left: 50px;
    margin-top: 200px;
}


@media screen and (max-width:769px){
    landing{
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: center;
        
    }
    landing .leftContent{
        width: 100%;
        margin-top: 100px;
         
    }

    .leftContent .LandTitle{
        font-size:45px ;
        width: 100%;
        font-weight: bolder ;
        margin-top: 200px;
        word-wrap: break-word;
        font-family: 'Times New Roman', Times, serif;
        text-transform: capitalize;
        margin-left: -50px;
        margin-right: 0;
        
    
        
    }
    .leftContent .LandP{
        font-size:1.3rem ;
        font-weight: 200px;
        width: 100%;
        margin-top: 20px;
        font-family: 'Helvetica Neue';
        margin-left: -50px;
        
    
    }
    .RightContent{
        /* width: 100%; */
        
    }

    .RightContent img{
        width: 500px;
        margin-top: 100px;
        margin-left: -40px;
    }
}


/* Service conent starts from here */

Service1{
    display: flex;
    padding: 20px 100px;
    background:#ffffff ;
    /* margin: 0; */
    color: rgb(0, 0, 0);
    /* height: 100%; */
    }

    service1 .leftContent{
        width: 50%;
       
    }
    
    .leftContent .LandTitle{
        font-size:55px ;
        /* width: 100%; */
        font-weight: bolder ;
        margin-top: 200px;
        word-wrap: break-word;
        font-family: 'Times New Roman', Times, serif;
        text-transform: capitalize;
        
    
        
    }
    
    .leftContent .LandP{
        font-size:1.3rem ;
        font-weight: 200px;
        width: 100%;
        margin-top: 20px;
        font-family: 'Helvetica Neue';
        
    
    }